<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="repo" value="https://repo.ime.co.ir/repository/nuget-group/index.json" />
    <!--<add key="nuget.org-proxy" value="https://repo.ime.co.ir/repository/nuget.org-proxy/index.json"/>-->
  </packageSources>
</configuration>
